<nav id="nav-main" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="hdr-logo-link navbar-brand" href="/" rel="home">
                <img class="logo" src={{ logo }}>
                <span> {{ site.name }} </span>
            </a>
        </div>
        <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% for item in menu.get_items %}
                    {% if item.get_children %}
                        <li class="nav-item dropdown {{item.classes | join(' ')}}">
                            <a class="nav-link" href="{{item.get_link}}">
                                {{item.title}}
                            </a>
                            {% if item.get_children %}
                                <ul class="dropdown-menu">
                                    {% for child in item.get_children %}
                                        <li class="nav-drop-item">
                                            <a class="nav-link" href="{{child.get_link}}">{{child.title}}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% else %}
                        <li class="nav-item {{item.classes | join(' ')}}">
                            <a class="nav-link" href="{{item.get_link}}">{{item.title}}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav><!-- #nav -->
